* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* border-style: solid; */
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; 
    padding: 1%;

}

body {
    width: 100%;
    height: 100%;
    padding: 1%; 
    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-around; 

}

#header_section {
    width: 100%;
    height: 6%;
    padding: 0;
    margin: 0; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#site_title {
    width: 40%;
    height: 100%;
    padding: 0;
    margin: 0; 
}

#site_title h1 {
    margin-block-start: 0;
}

#site_menu {
    width: 30%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#text_links {
    width: 75%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text_link:hover {
    color: maroon;
    cursor: pointer;
}

#icon_links {
    width: 25%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header_icon img {
    width: 1.5rem;
    height: 1.5rem;
}

.header_icon img:hover {
    cursor: pointer;
}

#projects_section {
    width: 100%;
    height: 95%;
    padding: 0;
    margin: 0;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project_column {
    width: 22%;
    height: 98%;
    padding: 0;
    margin: 1%;
    margin-top: 0; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.individual_project_div_small {
    position: relative; 
    width: 100%;
    height: 30%;
    padding: 0;
    margin-bottom: 10%; 
    margin-top: 0; 
}

.individual_project_div_small img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.individual_project_div_small img:hover {
  opacity: 0.2;
  cursor: pointer;
}

.individual_project_div_large {
    position: relative;
    width: 100%;
    height: 60%;
    padding: 0;
    margin-bottom: 10%; 
    margin-top: 0; 
}

.individual_project_div_large img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.individual_project_div_large img:hover {
    opacity: 0.2;
    cursor: pointer;
  }

  #matching-game img {
    object-fit: contain;
  }

  .app-title-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
